body, html {
    background: linear-gradient(to bottom, #ffcb46, #fff1bc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text-center{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}